@{

}

<div classs="my-4">
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormSelectPref">Genres</label>
            <select class="form-select" id="genreId">
                <option selected>Choose...</option>
                <option value="1">Action</option>
                <option value="2">Horror</option>
                <option value="2">Romance</option>
                <option value="3">Sci-Fi</option>
            </select>
        </div>
        <div class="col-12">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search By Title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" id="" placeholder="Search By Title">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
<div class="w-100 d-flex flex-wrap">
    @for(int i = 1;i <= 8; i++) {
        <div class="card mx-3 mt-4 mb-4" style="width: 16rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Book Title</h5>
                <p class="card-text">
                    Genre:
                    Author:
                    Price:
                </p>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    }
</div>